<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav
    #snav
    id="snav"
    class="pl-xs"
    [mode]="mobileQuery.matches ? 'side' : 'over'"
    fixedTopGap="0"
    [opened]="mobileQuery.matches"
    [disableClose]="mobileQuery.matches"
    (open)="sidebarOpened = true"
    (close)="sidebarOpened = false"
  >
    <div fxLayoutAlign="space-around center">
      <div class="m-2">
        <app-cart *ngIf="cartIsOpened"></app-cart>
        <app-add-product
          *ngIf="addIsOpened"
          [productDetials]="editProduct"
          (addNewProductEvent)="addNewProduct($event)"
          (editProductEvent)="editProductS($event)"
        ></app-add-product>
        <!-- <app-edit-product *ngIf="editIsOpened"></app-edit-product> -->
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrapper">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="snav.toggle()"
      value="sidebarclosed"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openAdd()"
      value="sidebarclosed"
    >
      <mat-icon>add</mat-icon>
    </button>
    <div class="page-content">
      <div fxLayout="column">
        <div>
          <div class="ml-3 mt-3">
            <mat-form-field class="example-form-field">
              <mat-label>Search</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="searchValue"
                (keyup)="filterByCategoryParent(searchValue, 'name')"
              />
              <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div
            fxLayout="row"
            class="pl-3"
            fxFlex="10"
            fxLayoutAlign="space-betwen center"
          >
            <span fxLayoutAlign="space-betwen none">filter by:</span>
          </div>
          <div fxLayout="row" fxFlex="90" fxLayoutAlign="space-betwen center">
            <mat-list role="list">
              <mat-list-item role="listitem" (click)="getProducts()">
                ALL
              </mat-list-item>
            </mat-list>
            <app-filter-categories
              (filterByCategoryEvent)="filterByCategoryParent($event, '_id')"
              *ngFor="let category of categories"
              [categories]="category"
            ></app-filter-categories>
          </div>
        </div>
        <div
          fxLayout.xs="column"
          fxLayout="row wrap"
          fxLayoutGap="10px"
          ngClass.gt-xs="ml-10"
        >
          <app-product
            (editProductEvent)="editProductFromStore($event)"
            (deleteProductEvent)="deleteProductFromStore($event)"
            *ngFor="let product of filteredProducts"
            [product]="product"
          ></app-product>
        </div>
        <button (click)="prev()" mat-button>Prev</button>
        <button (click)="next()" style="float: right" mat-button>Next</button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
